* {
    margin: 0;
    padding: 0;
}

.headermain {
    color: #0C0C0C;
    /* Dark text */
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 58px;
}

.icon {

    padding-left: 50px;
}

.feane {
    font-family: "Dancing Script", cursive;
    color: white;
    padding-left: 12%;
    font-size: 1.4rem;
}

.a a {
    padding: 5px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.home a {
    color: #FFFF00;
}

.button button {
    border-radius: 1rem;
    border: none;
    width: 160px;
    height: 40px;
    margin: 0px 10px;
    padding: 8px 30px;
    background-color: #ffbe33;
    color: aliceblue;
}

.icon-item {
    color: white;
    padding-left: 30px;
}

.main-conatainer {
    color: #0C0C0C;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.s1:hover {
    color: #ffbe33;
}

.fast-food {
    margin: 10rem;
    color: aliceblue;
}

/* section2 */
.card1 {
    height: 230px;
    width: 38%;
    background-color: #222831;
}

.img img {
    width: 200px;
    padding: 40px 5px 0px 5px;

}

.p1 {
    font-size: 40px;
}

.p22 {
    font-size: 32px;
}

.buttoncard button {
    border-radius: 2rem;
    border: none;
    width: 180px;
    height: 50px;
    margin: 0px 10px;
    padding: 8px 30px;
    background-color: #ffbe33;
    color: aliceblue;
}

.s2 img:hover {
    transform: scale(0.90);
}

/* section3 */
.navbar .b1 {
    border: none;
    color: #0C0C0C;
    background-color: white;
    padding: 7px 25px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.card {
    width: 350px;
    height: 400px;
    margin: 1.5rem;
}

.cards {
    display: grid;
    flex-wrap: wrap;
}


/* section4 */
.container-main {
    background: #222831;
    padding: 90px 260px;
}

.imgbox img {
    width: 500px !important;
    height: 650px !important;
    object-fit: cover;
    padding-left: 15px;
    padding-right: 15px;
}

.h2 {
    width: 210px;
    height: 50px;
    color: white;
}

.p2 {
    width: 450px;
    height: 150px;
    color: white;
}

.b {
    width: 175px;
    height: 45px;
    color: white;
    background-color: #ffbe23;
    padding: 12px 48px;
    border-radius: 1.26rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

/* section-5 */

.section {
    font: 16px "Open Sans", sans-serif;
    padding: 90px 0px;

}

.container-book {
    font-size: 17px;
    margin: 0px 13%;
    padding: 0 17px;
}

.heading-container {
    margin: 0 0 25px;
}

.colbook {
    color: #0C0C0C;
    font-size: 16px;

}

.action {
    width: 450px;
    height: auto;
    margin-bottom: 15px;
    padding: 0;
}

.book-now {
    width: 200px;
    height: 45px;
    font-size: 16px;
    background-color: #ffbe33;
    margin: 15px 0px 0px;
    padding: 10px 55px;
    color: #ffffff;
    border: none;
    border-radius: 3rem;
}

.input {
    height: 3rem;
    width: 37rem;
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 0.25rem;
    color: black;
}


/* section-6 */
.lorem{
    background-color: #222831;
}
.col-6{
    padding: 25px 25px 15px;
}

button.left {
  width: 30px;
  color: #ced4da;
  background-color: #ffbe23;
  border:none
} 

.leftright{
    margin: 45px;
}